.manage{
  background: #1f1d2b;
  border-radius: 8px;
  padding: 24px;
  min-width: 743px;
}
.manage__title{
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
  margin-bottom: 0;
}

.manage__category-btn{
  border: 1px solid #393c49;
  filter: drop-shadow(0px 8px 24px rgba(146, 136, 224, 0.3));
  border-radius: 8px;
  padding: 14px 16px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #fff;

  .bx{
    margin-right: 8px;
    font-size: 20px;
  }
}

.manage__product-list{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  height: 54vh;
  overflow-y: scroll;
  &::-webkit-scrollbar{
    width: 0;
  }
}

.manage__product-item{
  padding: 0 8px;
  min-width: 272px;
}


.manage__add{
  .manage__product-btn{
    width: 100%;
    padding: 111px 63px 110px 64px;
    background: #1f1d2b;
    border: 1px dashed #ea7c69;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #ea7c69;
    margin-bottom: 16px;

    .bx{
      display: block;
      font-size: 20px;
      color: #ea7c69;
      margin-bottom: 22px;
    }
  }
}

.manage__product-btn{
  width: 100%;
  background: #1f1d2b;
  border: 1px dashed #393c49;
  border-radius: 8px;
  margin-bottom: 16px;
  min-height: 299px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.manage__info-holder{
  padding: 24px 38px 16px 39px;
  margin: 0;
}

.manage__img-box{
  width: 127px;
  height: 127px;
  margin: 0 auto;
  margin-bottom: 16px;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.manage__product-title{
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;
}

.manage__product-price-box{
  font-size: 14px;
  line-height: 140%;
  color: #ABBBC2;
  justify-content: center;
}

.manage__product-price{
  margin-right: 8px;
}

.manage__product-dot{
  margin-right: 8px;
}

.manage__btn-container{
  width: 100%;
  padding: 16px 69px 16px 70px;
  background: #e97b673e;
  border-radius: 0px 0px 8px 8px;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ea7c69;
  border: none;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .bx{
    font-size: 20px;
    margin-right: 11px;
  }
}